---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}
<style>
    
    .myavatar {
        width: 200px; /* Adjust the width as necessary */
        float: right;
    }
    .introduction{
        font-size: 15px;
    }
</style>
<div class="introduction">
   
<image class="myavatar" src="../assets/img/favicons/avatar.jpg"></image>
<h1><strong>Gaonan Chen(陈高楠)</strong></h1>
<p>
    Chen Gaonan, a junior undergraduate at the School of Software, Nankai University. He is currently a student member of the CCF.
    He participated in the 2018 Middle School Examination in Shantou City, Guangdong Province, 
    and was admitted to the high school section of Chaoyang Experimental School.
     He then entered Nankai University in the 2021 College Entrance Examination of Guangdong Province. 
     He is currently a junior undergraduate at the School of Software, Nankai University.</p>

     <p>
        His current research interests mainly include: machine learning for rice noodle roll seasoning, visualization of Chaoshan snack seasoning, 
        and fitting learning for beef hot pot cooking time.
         Interested undergraduates and graduate students are welcome to contact: <a>czniayi@gmail.com</a>.Or add me on QQ：<a>1125102571</a>。
     </p>
<h2>
   <strong>Major Honors & Awards</strong> 
</h2>
<ul>
    <li>南开大学学业优秀奖学金，2023.09 </li>
    <li>基于知识图谱的医疗网站，中软国际实训优秀小组，2023.07-2023.08，项目负责人 </li>
    <li>图像复原：文物保护与数字化，实体照片修复翻新。天津市大学生创新训练计划，2023.04-2024.04,项目参与人 </li>
    <li>"寻找红岩精神"——电光学院赴重庆市暑期实践队，校级优秀实践队，2022.08，项目参与人</li>
    <!-- <li>配合南开大学核酸奖，2022.01-2022.12</li> -->
    <li>2021年度潮汕星河奖，2021.08 </li>
    <li>第34届全国中学生化学奥林匹克竞赛省一等奖，2020.10 </li>
    <li>第33届全国中学生化学奥林匹克竞赛省二等奖，2019.10 </li>
  </ul>
  
</div>
