---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}
<style>
    
    .myavatar {
        width: 200px; /* Adjust the width as necessary */
        float: right;
    }
    .introduction{
        font-size: 15px;
    }
</style>
<div class="introduction">
   
<image class="myavatar" src="../assets/img/favicons/avatar.jpg"></image>
<h1><strong>Gaonan Chen(陈高楠)</strong></h1>
<p>
   Chen Gaonan, a junior undergraduate at the School of Software, Nankai University. He is currently a student member of the CCF.
    He participated in the 2018 Middle School Examination in Shantou City, Guangdong Province, 
    and was admitted to the high school section of Chaoyang Experimental School.
     He then entered Nankai University in the 2021 College Entrance Examination of Guangdong Province. 
     He is currently a junior undergraduate at the School of Software, Nankai University.</p>

     <p>
        His current research interests mainly include: machine learning for rice noodle roll seasoning, visualization of Chaoshan snack seasoning, 
        and fitting learning for beef hot pot cooking time.
         Interested undergraduates and graduate students are welcome to contact: <a>czniayi@gmail.com</a>.Or add me on QQ：<a>1125102571</a>。
     </p> 
      <h2>
        <strong>Skills</strong> 
     </h2>
     <p> Programming: C/C++, Python, Java, JavaScript, HTML, CSS, SQL, LaTeX </p>
     <p>Frameworks: PyTorch,Django, Bootstrap, jQuery, Node.js, Vue3,Springboot3, </p>
     <p>Databases: MySQL, Neo4j,Redis </p>
     <p>Languages: English (CET-6 484，IELTS 6.0) </p> 
<h2>
   <strong>Major Honors & Awards</strong> 
</h2>
<ul>
<li>China Collegiate Computing Contest-AIGC Innovation Competition National Third Prize，2024.09</li>
<li>Nankai University Innovation Scholarship，2024.09  </li>                                                                                                   
<li>Nankai University Academic Excellence Scholarship，2024.09     </li>                                                                                  
<li>Nankai University Academic Excellence Scholarship ，2023.09    </li>                                                                                 
  </ul>
  <h2>
   <strong>Publication</strong> 
</h2>
<ul>
   <li>Xunzhi Wang, Zhuowei Zhang, <strong>Gaonan Chen</strong>, Qiongyu Li, Bitong Luo, Zhixin Han, Haotian Wang, Zhiyu Li, Hang Gao, Mengting Hu. "UBench: Benchmarking Uncertainty in Large Language Models with Multiple Choice Questions." Findings of ACL, 2025.   </li>                                                                 
  </ul>
</div>
